development:
  dialect: postgres
  datasource: host=localhost dbname=csw user=${DB_USER} password=${DB_PASSWORD} sslmode=require
  dir: library/migration
  table: migrations

stage:
  dialect: postgres
  datasource: host=stagehost dbname=csw user=${DB_USER} password=${DB_PASSWORD} sslmode=require
  dir: library/migration
  table: migrations

prod:
  dialect: postgres
  datasource: host=prodhost dbname=csw user=${DB_USER} password=${DB_PASSWORD} sslmode=require
  dir: library/migration
  table: migrations