local:
  dialect: postgresql
  datasource: dbusername:pass@tcp(127.0.0.1:3306)/csw?parseTime=true
  dir: library/migration
  table: migrations

stage:
  dialect: postgresql
  datasource: dbusername:pass@tcp(127.0.0.1:3306)/csw?parseTime=true
  dir: library/migration
  table: migrations

prod:
  dialect: postgresql
  datasource: dbusername:pass@tcp(127.0.0.1:3306)/csw?parseTime=true
  dir: library/migration
  table: migrations