{
    "cors": {
        "allowed_headers": "YOUR_ALLOWED_HEADERS_HERE",
        "allowed_methods": "YOUR_ALLOWED_METHODS_HERE",
        "allowed_origins": "YOUR_ALLOWED_ORIGINS_HERE"
    },
    "image": {
        "bucket": "YOUR_BUCKET_HERE",
        "url": "YOUR_URL_HERE"
    },
    "postgresql": {
        "address": "YOUR_ADDRESS_HERE",
        "port": "YOUR_PORT_HERE",
        "user": "YOUR_USER_HERE",
        "pass": "YOUR_PASSWORD_HERE",
        "database": "YOUR_DATABASE_HERE"
    },
    "redis": {
        "address": "YOUR_ADDRESS_HERE",
        "max_active": "YOUR_MAX_ACTIVE_HERE",
        "max_idle": "YOUR_MAX_IDLE_HERE",
        "port": "YOUR_PORT_HERE",
        "password": "YOUR_PASSWORD_HERE"
    },
    "permission": {
        "admin": "YOUR_ADMIN_PERMISSION_HERE",
        "user": "YOUR_USER_PERMISSION_HERE",
        "mentor": "YOUR_MENTOR_PERMISSION_HERE"
    },
    "server":{
        "address" : "YOUR_ADDRESS_HERE"
    },
    "api-key":{
        "binderbyte" : "YOUR_API_KEY_HERE"
    }
}
