{
    "postgresql": {
        "address": "127.0.0.1",
        "port": "5432",
        "user": "root",
        "pass": "password",
        "database": "csw"
    },
    "server":{
        "address" : "8080"
    },
    "api-key":{
        "binderbyte" : "YOUR_API_KEY_HERE"
    }
}
